/.metadata/
RemoteSystemsTempFiles/
presente-comum-jsf/.classpath
presente-comum-jsf/.gitignore
presente-comum-jsf/.project
presente-comum-jsf/.settings/
presente-core/.classpath
presente-core/.gitignore
presente-core/.project
presente-core/.settings/
presente/.classpath
presente/.gitignore
presente/.project
presente/.settings/
utilitario/.classpath
utilitario/.gitignore
utilitario/.project
utilitario/.settings/
presente/.metadata/
.recommenders/
presente-core/.factorypath
presente/.factorypath